# UR Sim install
ursim/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Secrets
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

#OS
.DS_Store

# Logs
*.log

# Media
media

ursim/
__pycache__/
*.pyc
data/*.h5
data/*.gif