# UR Sim install
ursim/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Secrets
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Logs
*.log

# Media
media/

# Data outputs
data/

# Documents
docs/fyp_vault/.obsidian

# MuJoCo
MUJOCO_LOG.TXT